// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
//$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

body > header {
	height: 185px;
}
body > header h1 {
	padding-top: 95px;
}
body > header h2 {
	padding-top: 9px;
}
body > header h1:before {
	position: absolute;
	left: 170px;
	right: 0;
	top: 8px;
	background-image:url('/images/vienna-rb-logo.png');
	background-repeat: no-repeat;
	content: "";
	overflow: hidden;
	height: 96px;
	width: 498px;
}
